/*npx @tailwindcss/cli -i input.css -o style.css --watch*/
@import "tailwindcss";

@theme{
    --font-sans: Inter, sans-serif; 
}
.material-symbols-outlined{
    font-size: 1em;
    transform: scale(1.4);
}
#aside-toggler:checked+aside{
    right: 0;
}