:root{
    font-size: 16px;
    line-height: 1.4;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Roboto Mono;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin-top: 0;
    margin-bottom: 0.5em;
}
h1, h2, h3, h4, h5, h6{
    font-family: Libre Baskerville;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.6em;
}
h4{
    font-size: 1.4em;
}
h5{
    font-size: 1.2em;
}
h6{
    font-size: 1em;
}
a{
    color: #311B92;
    text-decoration: none;
}
p{
    line-height: 1.6;
}
ul{
    margin-bottom: 0;
    padding-left: 1em;
}
header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    background-color: white;
}
section:not(:first-of-type){
    margin-top: 28px;
}

#aside-toggle{
    display: none;
}
.aside-toggle{
    width: 42px;
}
.profile-image{
    display: block;
    margin: 12px auto;
    width: 180px;
}
.profile-title{
    text-align: center;
    margin-bottom: 18px;
}
.aside-ul{
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
}
.aside-ul>li:not(:first-child){
    margin-top: 16px;
}
.aside-ul a.active{
    text-decoration: line-through;
}
.ul-sm>li:not(:first-child){
    margin-top: 0.6em;
}
.ul-lg>li:not(:first-child){
    margin-top: 24px;
}

@media only screen and (min-width: 768px){
    body{
        display: flex;
        align-items: flex-start;
    }
    aside{
        position: sticky;
        top: 0;
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 300px;
        padding: 12px;
        min-height:  100vh;
        border-right: 1px solid black;
    }
    main{
        flex-grow: 1;
    }
    header{
        padding: 18px 6px 0 12px;
    }
    article{
        padding: 12px;
    }
    a:hover{
        border-bottom: 2px dotted #311B92;
    }

    .aside-toggle{
        display: none;
    }
    .aside-ul>li{
        text-align: right;
    }
}


@media only screen and (max-width: 767.98px){ 
    aside{
        position: fixed;
        right: 100vw;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: white;
        transition: right 0.3s;
    } 
    header{
        display: flex;
        align-items: center;
        padding: 18px 0;
    }
    header>h1{
        margin-bottom: 0;
    }
    article{
        padding: 6px;
    }


    #aside-toggle:checked+aside{
        right: 0;
    }
    .aside-toggle{
        padding: 8px;
    }
    aside>.aside-toggle{
        position: absolute;
        right: 8px;
        top: 8px;
    }
    .aside-ul>li{
        text-align: center;
    }
}